<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<linkrel="stylesheet" th:href="@{/resources/css/main.css}"/>
		<metacharset="utf-8">
		<title>Liste des Espèces</title>
	</head>
	<body>
		<table class="mainTable">
			<thead><!--... --></thead>
				<tbody>
					<tr th:each="speciesItem: ${speciesList}">
						<div th:if="${indexEdited}==${speciesItemStat.index}">
							<!--form here-->
						</div>
						<div th:unless="${indexEdited}==${speciesItemStat.index}">
							<td th:text="${speciesItem.commonName}"/>
							<td th:text="${speciesItem.latinName}"/>
							<td th:class="editLink" th:onclick="editClickedWithIndex(speciesItemStat.index)" th:text="Edit"/>
						</div>
					</tr>
				</tbody>
		</table>
	</body>
</html>